:root {
    --white-main: #ffffff;
    --gray-secondary: #c0c0c0;
    --blue-button: #167bf7;
    --background-color: #00030c;
    --font-main: 'Inter'
    --button-blue-effect: #167bf7;
}

body{
    background-color: var(--background-color);
    color: var(--white-main);
    font-family: var(--font-main);
    font-size:16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button{
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.button__secondary{
    background-color:transparent;
    border:2px solid var(--white-main);
}

.container__warning{
    font-size: 12px;
    color: var(--gray-secondary);
}

.container__title{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__box{
    margin: 0 6em;
}

.secondary__imagem{
    width: 80%;
}

.secondary{
   align-items: center;
   margin: 0 10em;
}

.description__title{
    font-weight: 700;
    font-size: 40px;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.description__text{
    color: var(--gray-secondary);
}

.secondary__button{
    display: inline-block;
    margin-top: 1em;
}

.container__description{
    padding: 2em;
}

.secondary__imagem{
    margin: 1em 0 2em 0;
}

.description__title{
  color: var(--white-main);
}

.description__text{
    color: var(--gray-secondary);
}

.description__title{
    font-size: 28px;
    font-weight: 700;
}

.list__devices{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices{
    text-align: center;
}

.devices__title{
    font-size: 48px;
    color: var(--white-main);
}

.list__item{
    font-size: 28px;
}

.baseboard__list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
    margin-top: 1em;
}

.list__link a{
    text-decoration: none;
    color: var(--white-main);
    margin: 2em;
    margin-left: 1em;
}

.baseboard_text{
    margin: 3em 0;
    color: var(--gray-secondary);
    font-size: 14px;
}

.baseboard{
    text-align: center;
    margin: 3em;
}

.baseboard__logo{
    margin-bottom: 2em;
}

.list__link a:active{
    color: blue;
}

